//- header.header
//-         .container
//-                 .myinfo
//-                         .name 
//-                                 h1 Shukan Timofey
//-                                 h2 FRONT-END DEVELOPER                                
//-                         .photo
//-                                 img(src="./assets/imgs/myphoto.jpg", alt="myphoto")