main.main
    .container
        .aboutme
            .aboutme__info
                .myinfo
                    .name 
                        h1 Shukan Timofey
                        h2 FRONT-END DEVELOPER   
                .aboutme__infoblock 
                    h5 Summary
                    p Beginner front-end developer experienced in using common development tools. My current goal is to explore web development on real projects and keep up with new technologies. I would like to find full-time employment in a company with a progressive approach to development and knowledgeable team. So I’m currently looking for a job or an internship as a frontent developer.
                .aboutme__infoblock
                    h5 Experience
                    ul 
                        li Creating adaptive and cross-browser landing pages using CSS preprocessors 
                        li Developing SPAs applying React and UI libraries 
                        li Experience with version control (Git/Github) 
                        li Working with JavaScript web application libraries
                        li Reusable components development
                .aboutme__infoblock
                    h5 Education highlights
                    ul Front-end development courses at IT SHATLE
                        li HTML & CSS Course (Nov 2021 - Jan 2022)
                        li JS & React Course (Feb 2022 - May 2022) 
                .aboutme__infoblock
                    h5 Projects
                    ul                        
                        li.projectname
                            a(href="https://tivanich.github.io/SuperBloomLandingPage/build/" target="_blank") Superbloom landing page 
                            span  / 
                            a(href="https://github.com/TIvanich/SuperBloomLandingPage" target="_blank") GitHub 
                            ul.infoproject  
                                li Stack: HTML, SCSS, Gulp.
                                li Description: Site layout for the association of psychologists with different types of services.
                        li.projectname
                            a(href="https://tivanich.github.io/Project_Photographer-JS/build/" target="_blank") Landing page for Alexa Rise
                            span  / 
                            a(href="https://github.com/TIvanich/Project_Photographer-JS" target="_blank") GitHub 
                            ul.infoproject  
                                li Stack: HTML, SCSS, Gulp, JavaScript.
                                li Description: Adaptive landing page for a professional photographer Alexa Rise based Figma template with functionality on native JavaScript.
                        li.projectname
                            a(href="https://tivanich.github.io/MyPostPage-create_react/" target="_blank") MyPostsPage landing
                            span  / 
                            a(href="https://github.com/TIvanich/MyPostPage-create_react" target="_blank") GitHub 
                            ul.infoproject  
                                li Stack: HTML, WebPack, JavaScript, React, API.
                                li Description:  Minimalistic PostsPage with extended functionality, based on the JSONPlaceholder API, built with React.        
                .aboutme__tags 
            .tags
                .photo
                    img(src="./assets/imgs/myphoto.jpg", alt="myphoto")
                .links
                    p.emaillink timofeyshukan@gmail.com
                    p.tellink +375(29)1748897
                    p.location Minsk, Belarus 
                .skills
                    p.skillstags Skills
                    p HTML, CSS/SCSS, JavaScirpt, React,  Git/Github, WebPack, Gulp.
                         
                .skills
                    p.skillstags Language                    
                    ul
                        li Belarussian, Russian (Native)
                        li German (A2)
                        li English (Intermediate)
                .skills
                    p.skillstags Other Skills                  
                    p Analytics, SAP ERP, BW4Hana
                .skills
                    p.skillstags Social                    
                    p
                        a.sociallink(href="https://www.instagram.com/timofeyshukan/" target="_blank") 
                            img.imglink(src="./assets/imgs/inst.svg", alt="inst")
                        a.sociallink(href="https://t.me/timofeshukan" target="_blank")
                            img.imglink(src="./assets/imgs/tg.svg", alt="tg")
                        a.sociallink(href="https://vk.com/timofeyshukan" target="_blank")
                            img.imglink(src="./assets/imgs/vk.svg", alt="vk")
                        a.sociallink(href="https://twitter.com/TimofeyShukan" target="_blank")
                            img.imglink(src="./assets/imgs/twi.svg", alt="twi")




